<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="list-inline">
                <li><a href="/#/Admission">Admision</a></li>
                <li><a href="/#/MedicalCare">Atencion Medica</a></li>
                <li><a href="/#/AddProfesional">Agregar Profesional</a></li>   
                <li><a href="/#/Reports">Reportes</a></li>
            </ul>
        </div>        
        <div class="panel-body">
            <div class="consulta" >
                <!--<div class="consulta-container-container">-->        
                <div> 
                    <legend>En espera</legend>   
                </div> 
                <div class="row">
                    <div class="col-md-12">                                        
                        <table class="table table-responsive">  
                            <thead>
                                <tr>
                                    <th style="min-width: 80px;">Afiliado</th>
                                    <th style="min-width: 80px;">Profesional Asignado</th>
                                    <th style="min-width: 80px;">Especialidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-model="pacienteSeleccionado" ng-repeat="pacienteSeleccionado in gridPacientesPendientes" ng-class="{
                                            'selected':$index == selectedRow}" ng-click="setClickedRow($index, pacienteSeleccionado)">
                                    <td>{{ pacienteSeleccionado.afiliadoApellido + " " + pacienteSeleccionado.afiliadoNombre}}</td>   
                                    <td>{{ pacienteSeleccionado.nombreProfesional}}</td>   
                                    <td>{{ pacienteSeleccionado.especialidad}}</td>   


                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>

                <form role="form" ng-model="atencionFormModel" name="atencionForm" class="form-horizontal" novalidate>
                    <div class="well" ng-hide="$scope.viewForm">       
                        <div class="form-group">
                            <div> 
                                <legend>En Atencion</legend>   
                            </div>                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">                         
                                <label class="col-md-3">Afiliado</label>
                                <input class="form-control" name="nombreCompleto" ng-model="admission.nombreCompleto"  placeholder="Nombre" autocomplete="off"  readonly="readonly" required>                            
                                <div class="help-block" ng-show="atencionForm.nombreCompleto.$invalid">                                    
                                    <small class="help-block" ng-show="atencionForm.nombreCompleto.$error.required">
                                        Seleccione un afiliado.
                                    </small>                
                                </div>
                            </div>
                            <div class="col-md-3">                         
                                <label class="col-md-3">Numero</label>
                                <input class="form-control" name="afiliadoNumero" ng-model="admission.afiliadoNumero"  placeholder="Numero"  readonly="readonly" required>                            
                                <div class="help-block" ng-show="atencionForm.afiliadoNumero.$invalid">                                    
                                    <small class="help-block" ng-show="atencionForm.afiliadoNumero.$error.required">
                                        Seleccione un afiliado.
                                    </small>                
                                </div>
                            </div>                                                     
                        </div>                   
                        </br>

                        <div class="row">
                            <div class="col-md-2">
                                <label>Tipo Diagnostico</label>
                                <div class="btn-group">
                                    <div class="radio" ng-repeat="diag in getDiagnosticos()" style="display: inline">
                                        <label  style="margin-right: 7px">
                                            <input type="radio" ng-model="cell.diagnostico" name="diagnosticoOptions" value="{{diag.name}}">
                                            {{diag.name}}</label>
                                    </div>
                                </div>                               
                            </div>
                            <div class="col-md-9">
                                <label>Diagnostico: {{cell.diagnostico}}</label>
                                <div ng-switch  on="cell.diagnostico">
                                    <div class="animate-switch form-group" ng-switch-when="CIE10">
                                        <div class="col-md-12">  
                                            <input  type="text" class="form-control" name="tipoCie10" typeahead-min-length="3"  typeahead-on-select="setCIE10Id($item)" ng-model="admission.descripcionCIE10" uib-typeahead="cie10.descripcion for cie10 in tiposCie10 | filter:$viewValue" placeholder="CIE10" required autocomplete="off"/>

                                            <span class="help-block" ng-show="atencionForm.tipoCie10.$pristine || atencionForm.tipoCie10.$invalid">
                                                Selecciones una opcion.
                                            </span>
                                        </div> 
                                    </div>
                                    <div class="animate-switch form-group" ng-switch-when="DSMIV">
                                        <div class="col-md-12">                                            
                                            <input type="text" class="form-control" name="tipoDsmiv" typeahead-min-length="3"  typeahead-on-select="setDSMIVId($item)" ng-model="admission.descripcionDSMIV" uib-typeahead="dsmiv.descripcion for dsmiv in tiposDsmiv | filter:$viewValue" placeholder="DSMIV" required autocomplete="off"/>
                                            <span class="help-block" ng-show="atencionForm.tipoDsmiv.$pristine || atencionForm.tipoDsmiv.$invalid">
                                                Selecciones una opcion.
                                            </span>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label>Practica:</label>
                            </div>
                            <div class="col-md-9">   
                                <div class="col-md-3">   
                                    <label>codigo:</label>
                                    <input class="form-control" type="text" ng-model="admission.codigoNomenclador"  ng-enter="keyCodigoNomenclador()"  />
                                </div>
                                <div class="col-md-6"> 
                                    <label>Texto:</label>
                                    <input class="form-control" type="text"  typeahead-on-select="setNomencladorCode($item)" typeahead-min-length="3" ng-model="admission.descripcionNomenclador" uib-typeahead="nomenclador.descripcion for nomenclador in tiposNomenclador | filter:$viewValue"  autocomplete="off"/>                                    
                                </div>
                                <div style="margin-top: 25px"> 
                                    <button class="btn-default btn" ng-disabled="admission.codigoNomenclador == '' || admission.descripcionNomenclador == ''" ng-click="addItem()">agregar</button>
                                </div>
                            </div>
                        </div>
                        </br>
                        <li ng-repeat="item in items.data" id="item{{item.id}}" style="list-style: none" name="listaPractica">
                            <div class="row">
                                <div class="col-md-3">                                       
                                    <input class="form-control" type="text" ng-model="item.codigo" value="{{admission.codigoNomenclador}}" readonly=""/>
                                </div>
                                <div class="col-md-6">                                   
                                    <input class="form-control" type="text" ng-model="item.desc" value="{{admission.descripcionNomenclador}}" readonly=""/>
                                </div>
                                <!--                                <div class="col-md-3"> -->
                                <div class="col-md-3"> 
                                    <button class="btn-default btn" ng-click="deleteItem($index)">Eliminar</button>
                                    <!--</div>--> 
                                </div>
                            </div>
                        </li>
                        <div class="row">
                            <div class="col-md-12">  
                                <span class="help-block" ng-show="listaPractica.data.length < 1" ng-if="">
                                    Ingrese una Practica
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">    
                                <label class="col-md-3">Observaciones</label>
                                <textarea class="form-control" id="admission.observacion" ng-model="diagnostico.observacion"  ng-init="nada" placeholder="Observaciones" autocomplete="off"></textarea>                            

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" style="margin-top: 5px">                                 
                                <button class="btn btn-default"  type="submit" ng-disabled="atencionForm.$invalid || !listaPractica.data.length" ng-click="UpdateAdmision()">Guardar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>  
        </div>
    </div>
</div>



